<!-- Shiv Bindra
     Student #  300758190
     Assignment 1
     COMP 229- SECTION 001
     DATE - OCTOBER, 01, 2021

 -->

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="display-10 navbar-text">&copy; Copyright Shiv Bindra - Student#300758190 -Assignment 1 - COMP229 - Fall 2021.</h6>
</nav>
</footer>