/* custom css goes here */

.formColor{
    margin-bottom: 1px;
    padding-bottom: 1px;
    position: relative;
}

body {
    line-height: 1;
    width: 960px;
    margin: 0 auto;
    font-family: verdana, arial, helvetica, sans-serif;
    background: rgb(20, 131, 165);
    position: relative;
    text-align: center;
 }