<!-- Using index.ejs file to compose html file via ejs engine  -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, World how r u</p>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
