<!--  MAIN CONTENT -->
<!-- Shiv Bindra
     Student #  300758190
     Assignment 1
     COMP 229- SECTION 001
     DATE - OCTOBER, 01, 2021


 -->
<figure class="text-center">
<main class="container">
<div class="container">
<h1 class="display-4">Welcome to my <%= title %> page</h1>

<blockquote class="blockquote">

<br>
  <p>"Hard work always pays off".</p>
  <a href="/about"> click on this Link to learn about me </a>
</blockquote>
</div>
</figure>
</main>