<!--  MAIN CONTENT -->
<figure class="text-center">
<div class="container">
<image src="Assets/images/mypicture.jpg"></image>
<h1 class="display-4"><b> Shiv Bindra</b></h1>
<p class="display-6"> Hi, My name is shiv Bindra. I am a Aircraft Maintenance Engineer. I am also a second year student in the software engineering program. 
 </p>
 <p>With a solid foundation in designing software, I want to be in the front lines to help create a fully functional pilotless cockpit in the 
 next coming years</p>


<a href="/Assets/images/Resume-Shiv-Bindra.pdf">Resume</a>

</div>
</figure>