<!--  MAIN CONTENT -->
<!-- Shiv Bindra
     Student #  300758190
     Assignment 1
     COMP 229- SECTION 001
     DATE - OCTOBER, 01, 2021


 -->
<figure class="text-center">
<div class="container">
<image src="Assets/images/mypicture.jpg"></image>
<h1 class="display-4"><b> Shiv Bindra</b></h1>
<p> Hi, my name is Shiv Bindra. I am a Aircraft Maintenance Engineer. I am also a second year student in the software engineering program. 
 </p>
 <p>With a solid foundation in software fundamentals, I want to be on the front lines to help create a fully functional pilot-less cockpit in the 
 next coming years and merge my previous experience of Aircraft maintenance to be ready for the future in the aviation industry</p>


<a href="/Assets/images/Resume-Shiv-Bindra.pdf">Resume</a>
<p>Please click on my resume to learn more about me</p>
</div>
</figure>