<!--  MAIN CONTENT -->
<div class="container">
<image src="Assets/images/mypicture.jpg"></image>
<h1 class="display-4"><b> Shiv Bindra</b></h1>
<p class="display-6"> Hello My name is shiv Bindra</p>
<h1 class="display-4"> Hello My name is shiv Bindra</h1>

<a href="/Assets/images/Resume-Shiv-Bindra.pdf">Resume</a>

</div>