<!--  MAIN CONTENT -->
<figure class="text-center">
<div class="container">
<image src="Assets/images/mypicture.jpg"></image>
<h1 class="display-4"><b> Shiv Bindra</b></h1>
<p> Hi, My name is Shiv Bindra. I am a Aircraft Maintenance Engineer. I am also a second year student in the software engineering program. 
 </p>
 <p>With a solid foundation in software fundamentals, I want to be in the front lines to help create a fully functional pilotless cockpit in the 
 next coming years and merge my knowledge for the future in the aviation industry</p>


<a href="/Assets/images/Resume-Shiv-Bindra.pdf">Resume</a>

</div>
</figure>