<!--  MAIN CONTENT -->
<figure class= "text-center">

<h1 class="display-4">I can be reached at </h1>
<div class="container">
  <div class="row">
    <div class="col">
      Cell-6479992525
      shivbindra@gmail.com
    </div>
    <div class="col">
      ShivBindra@gmail.com
    </div>
    
  </div>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Another label</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
</figure>
