<!--  MAIN CONTENT -->
<main class="container">
<figure class= "text-center">

<h1 class="display-4">I can be reached at </h1>
<div class="container">
  <div class="row">
    <div class="col">
      Cell-6479992525
    </div>
    <div class="col">
      ShivBindra@gmail.com
    </div>
    
  </div>
</div>
</figure>
</main>