<!--  MAIN CONTENT -->
<!-- Shiv Bindra
     Student #  300758190
     Assignment 1
     COMP 229- SECTION 001
     DATE - OCTOBER, 01, 2021


 -->
<figure class= "text-center">

<h1 class="display-4">I can be reached at </h1>
<h1 class="display-6">shivbindra@gmail.com </h1>


<form>  
       
<legend>Please leave your info and I promise to get back to you ASAP</legend>
            <div class="formColor">
        <p> <label for="FName1">First Name</label>
            <input id="FName1" name="FirstName1" type="text" />
        </p>
        
         </div>
         <div class="formColor">
        <p> <label for="LName1">Last Name</label>
            <input id="LName1" name="LastName1" type="text" />
         </p>
         
        </div>
         <div class="formColor">
         <p>
            <label for="street1">Contact Number</label>
            <input id="number" name="street1" type="number" />
           </p>
        </div>
            
                <div class="formColor">
                <p>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" />
                 </p>
                 <h4></h4>
                </div>
        </fieldset>
        <div id="buttonDiv">
            <a href="./home"> <input type="submit"/></a>
         </div>
         
    </form>
</figure>
