<!--  MAIN CONTENT -->
<figure class= "text-center">

<h1 class="display-4">I can be reached at </h1>
<div class="container">
  <div class="row">
    <div class="col">
      Cell-6479992525
      shivbindra@gmail.com
    </div>
    <div class="col">
      ShivBindra@gmail.com
    </div>
    
  </div>
</div>
<form>  
       
<legend>Info</legend>
            <div class="formColor">
        <p> <label for="FName1">First Name</label>
            <input id="FName1" name="FirstName1" type="text" />
        </p>
        
         </div>
         <div class="formColor">
        <p> <label for="LName1">Last Name</label>
            <input id="LName1" name="LastName1" type="text" />
         </p>
         
        </div>
         <div class="formColor">
         <p>
            <label for="street1">Contact Number</label>
            <input id="number" name="street1" type="number" />
           </p>
        </div>
            
                <div class="formColor">
                <p>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" />
                 </p>
                 <h4></h4>
                </div>
        </fieldset>
        <div id="buttonDiv">
            <a href="/home"> <input type="submit"/></a>
         </div>
         
    </form>
</figure>
