<!--  MAIN CONTENT -->
<figure class="text-center">
<main class="container">
<div class="container">
<h1 class="display-4">Welcome to my <%= title %> page</h1>

<blockquote class="blockquote">
  <p>"Hard work always pays off".</p>
</blockquote>
</div>
</figure>
</main>