<div class="container">

  
<h1 class="display-4">Welcome to my Project Page</h1>
</div>
<div class="mx-auto" style="width: 200px;">
<img src="Assets/images/bugsmasher.jpg" class="rounded float-start" alt="...">
<a href="/home"><img src="Assets/images/table.jpg" class="rounded float-end" alt="..."></a>
</div



