<div class="container">

  
<h1 class="display-4">Welcome to my Project Page</h1>
</div>
<div class="bl-primary text-nowrap" style="width: 6rem;">
  <p>My first Project I would like to show is the <b>bugsmasher game</b> i build using javascript. </p>
</div>
<div class="mx-auto" style="width:  400px;">

<a href="http://studentweb.cencol.ca/sbindra2/Comp_125/Assignment5/Assignment5.html"><img src="Assets/images/bugsmasher.jpg" class="rounded float-start" alt="..."></a>
<div class="bl-primary text-nowrap" style="width: 6rem;">
  <p>My first Project I would like to show is the <b>bugsmasher game</b> i build using javascript. </p>
</div>
<a href="http://studentweb.cencol.ca/sbindra2/Comp_125/Assignment2/Assignment2.html"><img src="Assets/images/table.jpg" class="rounded float-end" alt="..."></a>
</div



