<div class="container">

  
<h1 class="display-4">Welcome to my Project Page</h1>
</div>

<div class="mx-auto" style="width:  200px;">
<figure class="figure">
  <a href="http://studentweb.cencol.ca/sbindra2/Comp_125/Assignment5/Assignment5.html"><img src="Assets/images/bugsmasher.jpg" class="figure-img img-fluid rounded" alt="..."></a>
  <figcaption class="figure-caption">My first Project I would like to show is the <b>bugsmasher game</b> i build using javascript.</figcaption>


<figure class="figure">
  <a href="http://studentweb.cencol.ca/sbindra2/Comp_125/Assignment2/Assignment2.html"><img src="Assets/images/table.jpg" class="figure-img img-fluid rounded" alt="..."></a>
  <figcaption class="figure-caption">My first Project I would like to show is the <b>bugsmasher game</b> i build using javascript.</figcaption>
</figure>



</div>



