<div class="container">
<div class="mx-auto" style="width: 200px;">
  
<h1 class="display-4">Welcome to my Project Page</h1>

<img src="Assets/images/bugsmasher.jpg" class="rounded float-start" alt="...">
<img src="Assets/images/table.jpg" class="rounded float-end" alt="...">
</div>
</div>


