<!--  MAIN CONTENT -->
<figure class="text-center">

<div class="container">
<h1 class="display-4">I offer the following services</h1>
</div>

<ul class="list-unstyled">
  <li>This is a list.</li>
  <li>It appears completely unstyled.</li>
  <li>Structurally, it's still a list.</li>
  <li>However, this style only applies to immediate child elements.</li>
 </figure>

