<!--  MAIN CONTENT -->
<figure class="text-center">

<div class="container">
<h1 class="display-4">I offer the following services</h1>


<ul class="list-unstyled">
  <li>General Programming</li>
  <li>Web Development</li>
  <li>
  
<div class="mx-auto" style="width:  200px;">
<figure class="figure">
  <a href="Assets/images/android.jpg"><img src="Assets/images/android.jpg" class="figure-img img-fluid rounded" alt="..."></a>
  <figcaption class="figure-caption"><b>Mobile Apps</b></figcaption>
</figure></li>
</figure>
</div>
</div>
<footer><a href="https://unsplash.com/photos/HfWA-Axq6Ek">Image created by Denny Müller</a></footer>